<style>
  thead {
    background-color: transparent;
  }
</style>

<%= render 'shared/section',title: "기능 보기" %>

<div class="container py-5">
  <div class="project-chart mb-5">
    <h5 class="mb-2">작업 현황</h5>
    <%= pie_chart @functions.group(:aasm_state).count %>
  </div>

  <div class="project-list">
    <h5>작업 리스트</h5>
      <table class="table">
        <thead>
          <tr>
              <% [["id", "항목"] ,["title","이름"],["project_name","프로젝트"],["user_list","참가자"],["aasm_state","상태"],["start_at","시작일"],["end_at","마감일"],["tag_list","비고"],[" ","기타"]].each do |item| %>
                <th scope="col"><%= sort_link(@sort, item.first, item.last) %></th>
              <% end %>
          </tr>
        </thead>
      <tbody>
      
      <% @sort_functions.each do |function| %>
        <% users = User.where(id: function.user_list).pluck(:name) %>
        <tr>
          <th scope="row"><%= function.id %></th>
          <td><%= link_to "#{function.title}", function_path(function.id), class: "color-primary mr-2" %></td>
          <td><%= function.project.name%></td>
          <td>  
            <% users.each do |users| %>
              <span class="mx-1 color-primary">#&nbsp;<%= users %></span>
            <% end %>
          </td>

          <td class="badge badge-primary" style="padding: 7px; margin: 10px; "><%= function.aasm_state%></td>
          <td><%= function.start_at.strftime("%Y-%m-%d") %></td>
          <td><%= function.end_at.strftime("%Y-%m-%d") %></td>
          <td><%= function.tag_list %></td>
          <td>
            <%= link_to "수정", "#", class: "editBtn color-primary", data: {id: function.id} %>
          </td>
        </tr>
      <% end %>
      </tbody>    
    </table>
  </div>
</div>

<div class="edit-modal"></div>

<script>
	$('.editBtn').click(function(e){
    Rails.ajax({
      url: "/functions/"+$(this).data("id")+"/edit",
      type: "get",
      success: function(data) {
        $('#function-modal-' + $(this).data("id")).modal('show');
      },
      error: function(data) {}
  });});
</script>

