<%= form_for @comment ||= Comment.new, method: :post,remote: true do |f|%>
  <div class="form-group">
  <%= f.text_area :comment, id: "input_form", class: "form-control", placeholder: "입력 란" %> 
  <%= f.hidden_field :commentable_type, value: "Posts" %>
  <%= f.hidden_field :commentable_id, value: commentable.id %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  </div>
  <%= f.submit "입력", class: "btn btn-primary btn-md" %>
<% end %>

<script>
  mentionee = <%= raw User.pluck(:id, :name).compact.collect { |user_info| {id: user_info[0], name: user_info[1]} }.to_json %>;
  var tribute = new Tribute({ 
    values: mentionee,
    selectTemplate: function (item) {
      return "@"+ item.original.name;
    },
    menuContainer: document.form,
    lookup: 'name',
    fillAttr: 'id',
  });
  tribute.attach(document.getElementById('input_form'));
</script>