<%= form_for @comment ||= Comment.new, method: :post,remote: true do |f|%>
  <div class="form-group">
  <%= f.text_area :comment, id: "input_form", class: "form-control", placeholder: "입력 란" %> 
  <%= f.hidden_field :commentable_type, value: "Posts" %>
  <%= f.hidden_field :commentable_id, value: commentable.id %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  </div>
  <%= f.submit "입력", class: "btn btn-primary btn-md" %>
<% end %>

<%
  key_value_pairs = User.all.map do |user|
                      [user.id,user.name]
                    end
  @mentionee = Hash[*key_value_pairs.flatten]
%>

<script>
  var users = JSON.parse('<%=raw @mentionee.to_json%>');
  var mentionee = new Array();
  for(id in users){
    var tmp = new Object();
    tmp.name = users[id];
    tmp.id = id.toString();
    mentionee.push(tmp);
  }
  var tribute = new Tribute({ 
    values: mentionee,
    selectTemplate: function (item) {
      return "@"+ item.original.name;
    },
    lookup: 'name',
    fillAttr: 'id'
  });
  tribute.attach(document.getElementById('input_form'));
</script>