<div class="p-4 bg-secondary border rounded">
<h5 class="mt-2 mb-4">댓글작성</h5>
  <%= form_for @comment ||= Comment.new, method: :post,remote: true do |f|%>
    <%= f.hidden_field :utf8, value: "✓" %>
    <%= f.hidden_field :authenticity_token, value: "TQ2pGEQ1mRE10GbbVtkA4D4TeKBRc786S3Lv1gl5jLO1cOhb3hkr3GQ5HcZX9IKHAgrBaImRp3cmDKbObxjLGQ==" %>
    <div class="form-group">
    <%= f.text_area :comment, id: "input_form", class: "form-control", placeholder: "댓글을 입력해주세요 (마크다운 가능)" %> 
    <%= f.hidden_field :commentable_type, value: "Posts" %>
    <%= f.hidden_field :commentable_id, value: commentable.id %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    </div>
    <%= f.submit "입력", class: "btn btn-primary btn-md" %>
  <% end %>
</div>