<% project ||= nil %>
<div class="row mt-3">
  <div class="col-4 pr-0 justify-content-flex-center py-2 px-5">
    <div class="card">
      <img class="card-img-top" src="<%= project.image.url %>" alt="Card image cap">
      <div class="card-body">
        <h6 class="card-title"><%= project.name %></h6>
        <div class="row justify-content-between px-3 fs-14">
          <div class="text-gray">참여 인원</div>
          <div><%= project.users.count %>명</div>
        </div>
        <div class="row justify-content-between px-3 fs-14">
          <div class="text-gray">프로젝트 시작일</div>
          <div><%= pretty_date project.start_at %></div>
        </div>
        <div class="row justify-content-between px-3 fs-14">
          <div class="text-gray">프로젝트 마감일</div>
          <div><%= pretty_date project.end_at %></div>
        </div>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="row justify-content-between px-3 fs-14">
            <div class="text-gray">진행 기간</div>
            <div><%= (Date.today - project.start_at.to_date).to_i %>일</div>
          </div>
          <div class="row justify-content-between px-3 fs-14">
            <div class="text-gray">진행 기간</div>
            <div><%= (project.end_at.to_date - Date.today).to_i %>일</div>
          </div>
        </li>
      </ul>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="row justify-content-between px-3 fs-14">
            <div class="text-gray">진행도</div>
            <div><%= (project.functions.end.count * 100 / project.functions.count) %>%</div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-8 pl-0">
    <div class="mt-2 mb-3 text-center">프로젝트 태스크 현황</div>
    <%= bar_chart(시작전: project.functions.to_do.count, 진행중: project.functions.in_progress.count, 완료: project.functions.complete.count, 피드백: project.functions.feedback.count, 종료: project.functions.end.count) %>
  </div>
</div>