<style>
.project-conversations {
  border: 1px solid #ededed;
}
</style>

<%= render 'shared/section',title: "Project Dashboard" %>
<div class="container bg-white p-3 mb-3">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#status">프로젝트 개발 현황</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#process">개발 추이</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#assign">개발자별 할당량</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane fade show active" id="status">
      <%= render "status_info", project: @project %>
    </div>
    <div class="tab-pane fade" id="process">
      
      <%# <%= line_chart @functions.group(:aasm_state).group_by_day(:start_at, last: 30).count, xtitle: "date", ytitle: "value" %> 
      <%# <%= line_chart @time_hash.group(:key), xtitle: "date", ytitle: "value" %>
      <%# <%= @time_arr.pluck(:to_do_updated_at) %>
      <%= line_chart @res %> 
    </div>
    <div class="tab-pane fade" id="assign">
      <% user_list = @project.users %>
      <%= pie_chart @function_per_user %>
    </div>
  </div>
  <!-- 통계 항목 -->

  <!-- 기능 항목 -->
  <%= render "functions/functions" %>

  <!-- 프로젝트 채팅 -->
  <div>
    <h5 class="mt-5 mb-2">채팅방</h5>
    <div class="project-conversations">
      <div class="col-md-12">
        <ul id="conversations-list">
          <% @conversations.each do |conversation| %>
            <%= render 'conversations/conversation', conversation: conversation %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<script>
  $(function(){
    Rails.ajax({
      url: "<%= conversations_path(project_id: @project.id) %>",
      type: "POST",
      success: function(data) {
        console.log("load chatting room...")
      },
      error: function(data) {}
    });
  })
</script>