<%= form_for @post do |f| %>
  <%= render 'shared/input', name: :title, type: :text_field, f: f, placeholder: "제목을 입력하세요" %>
  <%= f.label :image, class: "mt-3" %>
  <div class="upload-preview">
    <%= f.file_field :image, class: "form-control-file file", placeholder: "Image" %>
    <img class="img-preview mt-2"/><br/><br/>
  </div>
  <%= f.label :project_id %>
  <%= f.select :project_id, options_for_select(Project.all.map {|p| [p.name, p.id]}), {}, class: "form-control mb-3" %>
  <%= f.label :body %>
  <%= tinymce language: "en" %>
  <%= f.text_area :body, class: "form-control tinymce", rows: "20" %>
  <%= f.label :user_list %>
  <%= render 'shared/option_for_select', f: f, columns: :participant_list %>
  <%= f.submit "#{f.object.new_record? ? '등록' : '수정'}", class: 'btn btn-primary btn-block mt-3' %>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    var preview = $(".upload-preview img");
    $(".file").change(function(event){
      var input = $(event.currentTarget);
      var file = input[0].files[0];
      var reader = new FileReader();
      reader.onload = function(e){
          image_base64 = e.target.result;
          preview.attr("src", image_base64);
          preview.attr("width", 150);
          preview.attr("height", 150);
          preview.attr("border", 3);
      };
      reader.readAsDataURL(file);
    });
  });
</script>
