<div class="container">
  <div class="text-right mt-3">
    <%= link_to "목록", posts_path, class: "color-primary mr-2" %>
    <%= link_to "수정", post_path(@post), class: "color-primary mr-2" %>
  </div>
  <div class="row mt-3">
    <div class="col-md-8">
      <img class="w-100 card-img-top" src="<%= @post.image %>">
      <div class="card">
        <div class="card-body">
          <h4><%= @post.title %></h4>
          <hr class="my-3">
          <p><%= @post.body.html_safe rescue "" %></p>
          <h5 class="mt-5 mb-4">댓글</h5>
          <%= render partial:"comments/form", locals: {commentable: @post} %>
          <div id="comment-list">
            <% @comments.each do |comment| %>
              <%= render partial: "comments/comment", locals: {comment: comment} %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% project = @post.project %>
    <div class="col-md-4">
      <div class=" mb-3">
        <div class="card">
          <div class="card-body" style="min-height:130px;">
            <h5><%= project.name %></h5>
            <div class="small text-muted">
              <div>
                <span>프로젝트 시작일: </span>
                <span><%= pretty_date project.start_at %></span>
              </div>
              <div>
                <span>프로젝트 마감일: </span>
                <span><%= pretty_date project.end_at %></span>
              </div>
            </div>
            <div>
              <img class="w-100" src="<%= project.image %>">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>