<!DOCTYPE html>
<html>
  <head>
    <title>Agileboard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>

    <style>
      .color-primary {
        color: rgb(210, 106, 94);
      }
      .btn-primary {
        color: #fff;
        background-color: rgb(210, 106, 94);
        border-color: rgb(210, 106, 94);
      }
      .btn-primary:hover {
        color: #fff;
        background-color: red;
        border-color:red;
      }
      .btn-primary:active {
        color: #fff;
        background-color: red;
        border-color:red;
      }
      .btn-primary:focus, .btn-primary.focus {
        box-shadow: 0 0 0 2px rgb(210, 106, 94);
      }
    </style>
  </head>

  <body>
    <%= render 'shared/header' %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
