<!DOCTYPE html>
<html>
  <head>
    <title>Agileboard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>

    <style>
      body {
        background-color: rgb(242, 242, 242);
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }
      .color-primary {
        color: rgb(7, 3, 130) !important;
      }
      .btn-primary {
        color: #fff !important;
        background-color: rgb(7, 3, 130) !important;
        border-color: rgb(7, 3, 130) !important;
        min-height: 40px !important;
      }
      .btn-primary:hover {
        color: #fff !important;
        background-color: rgb(7, 3, 130) !important;
        border-color: rgb(7, 3, 130) !important;
      }
      .btn-primary:focus, .btn-primary.focus {
        box-shadow: 0 0 0 2px rgb(7, 3, 130) !important;
      }
    </style>
  </head>

  <body>
    <%= render 'shared/header' %>
    <%= yield %>
  </body>
</html>
